  <form method="post" action="{{ centre.forms[0].action }}" id="contact-form">
    <div class="grid grid-cols-1 gap-6 text-xl font-semibold">
      <label class="block">
        <span>Email Address *</span>
        <input type="text" name="email" class="mt-1 p-4 block w-full text-gray-700 placeholder-gray-300 border-gray-300 focus:border-btn-blue border-2 rounded-sm text-xl" placeholder="Your email address...">
      </label>
      <label class="block">
        <span>Name *</span>
        <input type="text" name="name" class="mt-1 p-4 block w-full text-gray-700 placeholder-gray-300 border-gray-300 focus:border-btn-blue border-2 rounded-sm text-xl" placeholder="Your name...">
      </label>
      <label class="block">
        <span>Message *</span>
        <textarea name="message" class="mt-1 p-4 block w-full text-gray-700 placeholder-gray-300 border-gray-300 focus:border-btn-blue border-2 rounded-sm text-xl" placeholder="Your message..." rows="6"></textarea>
      </label>
      <input type="hidden" name="_next" value="{{ centre.forms[0].confirmation }}" />
      <input type="hidden" name="_subject" value="{{ centre.forms[0].subject }}" />
      <input type="text" name="_gotcha" style="display: none;" class="contact-form__gotcha" val="">
    </div>
  <input type="submit" value="{{ centre.forms[0].button }}" class="mt-6 px-6 py-4 bg-btn-blue hover:bg-btn-blue-hover text-gray-100 text-xl cursor-pointer">
</form>
