<head>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="icon" type="image/x-icon" href="/favicon.ico">
<link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" >
{% seo "" %}
<link href="https://fonts.googleapis.com/css?family=Muli:300,400,600,700" rel="stylesheet">
<style>{% include 'css/style.css' ignore missing %}</style>
<script src="https://unpkg.com/feather-icons@4.7.3/dist/feather.min.js"></script>
<script src="https://unpkg.com/prefixfree@1.0.0/prefixfree.js"></script>
</head>
