<footer class="footer">
  <div class="wrap">
    <div class="footer-contact">
      <div><i data-feather="{{ site.data.settings.contact_details.address_icon }}"></i> {{ site.data.settings.contact_details.address }}</div>
      <div><i data-feather="{{ site.data.settings.contact_details.email_icon }}"></i> {{ site.data.settings.contact_details.email }}</div>
      <div><i data-feather="{{ site.data.settings.contact_details.phone_icon }}"></i> {{ site.data.settings.contact_details.phone }}</div>
    </div>
    <a href="/"><img class="logo" src="/images/min/logo-epec-black.png"><a/>
  </div>
</footer>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/personal-min.js"></script>
<script>
  feather.replace()
</script>
