<head>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
{% seo %}
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:400,700">
<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/normalize.css">
<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/main.css">
<script src="https://unpkg.com/feather-icons"></script>
<script src="https://unpkg.com/prefixfree"></script>
</head>
