<head>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
{% seo %}
{% if site.data.settings.font_settings.font_embed %}
{{ site.data.settings.font_settings.font_embed }}
{% endif %}
<link rel="stylesheet" href="/css/style.css">
<script src="https://unpkg.com/feather-icons@4.7.3/dist/feather.min.js"></script>
<script src="https://unpkg.com/prefixfree@1.0.0/prefixfree.js"></script>
</head>
