<!doctype html>
<html lang="en">
{% include 'head.html' %}
<body class="text-body transition-all {{ title | slug }}">
  {% include 'header.html' %}
  <div id="{{ section }}">
    {% block content %}
    {{ content | safe }}
    {% endblock %}
  </div>
  {% include 'footer.html' %}
</body>
</html>
