{% extends './base.njk' %}
{% block content %}
<section class="pb-28 relative bg-hero-overlay text-center">
  <div class="absolute inset-0 bg-center bg-no-repeat bg-cover" style="background-image: url({% templateImg featured_image, 'jpeg' %})">
    <div class="absolute inset-0 bg-hero-overlay bg-opacity-80"></div>
  </div>
  <div class="relative container mx-auto px-4 max-w-xl md:max-w-3xl lg:max-w-6xl">
    {% if centre %}
      {% set logo = centre.logo %}
    {% else %}
      {% set logo = "src/images/logo-education-and-care-white.png" %}
    {% endif %}
    <img class="w-48 md:w-72 pt-8 pb-12 mx-auto" src="{% templateImg logo, 'png' %}">
    <p class="text-lg md:text-xl lg:text-2xl text-white text-opacity-80">We believe in nurturing and protecting our most precious gifts – our children and our planet.</p>
  </div>
</section>
{{ content | safe }}
{% if centre %}
<section class="relative mt-8 md:mt-12 bg-hero-overlay text-center">
  <div class="absolute inset-0 bg-center bg-no-repeat bg-cover" style="background-image: url({% templateImg featured_image, 'jpeg' %})">
    <div class="absolute inset-0 bg-hero-overlay bg-opacity-80"></div>
  </div>
  <div class="relative container mx-auto px-4 py-8 max-w-xl md:max-w-3xl lg:max-w-6xl">
    <p class="text-lg md:text-xl lg:text-2xl text-white text-opacity-80">Register your interest today!</p>
    <div class="flex items-center justify-center space-x-2 mt-6">
      <a class="px-3 py-2 bg-btn-blue hover:bg-btn-blue-hover text-gray-100" href="{{ centre.waitlist }}">Join Waitlist</a>
      {% if centre.forms[0] %}
      <a class="px-3 py-2 bg-btn-blue hover:bg-btn-blue-hover text-gray-100" href="{{ centre.forms[0].landing }}">Apply For Job</a>
      {% endif %}
    </div>
  </div>
</section>
{% if centre.map %}
<section class="relative mt-8 md:mt-12 h-80">
  <div class="absolute inset-0 bg-center bg-no-repeat bg-cover" style="background-image: url({% templateImg centre.map, 'png' %})"></div>
</section>
{% endif %}
{% endif %}
{% endblock %}
