{% extends './base.njk' %}
{% block content %}
<section class="hero hero--single">
  <div class="hero__image" style="background-image: url({{ featured_image }})">
    <div class="hero__overlay"></div>
  </div>
  <div class="wrap">
    <h1>{{ title }}</h1>
    <p>{{ subtitle }}</p>
  </div>
</section>
<section class="single">
  <div class="wrap">
    <article class="single-post">
      {{ content | safe}}
    </article>
  </div>
</section>
{% endblock %}
