---
---
@import "icons";

html {
  color: #131313;
  font-size: 20px;
  line-height: 1.3;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  text-align: center;
  background: url(/assets/img/background.jpg) no-repeat center center fixed;
  background-size: cover;
  height: 100vh;
}

body {
  padding: 20px;
}

h1 {
  font-size: 22px;
  font-weight: 700;
}

section#comingsoon {
  width: calc(100% - 60px);
  max-width: 280px;
  margin: 60px auto 0;
  background: rgba(247, 247, 247, 0.95);
  /* background: #F7F7F7; */
  padding: 30px;
  border-radius: 25px;
  img {
    width: 95%;
    padding-bottom: 10px;
  }
}

a.btn {
  display: inline-block;
  margin: 10px 0 15px;
  padding: 15px 30px;
  background: #8BC34A;
  border-radius: 8px;
  text-decoration: none;
  font-weight: 700;
  color: #F7F7F7;
}

#links {
  margin-top: 10px;
  font-size: 14px;
  color: #999;
  display: flex;
  align-items: center;
  justify-content: center;
}

#phone {
  margin-top: 10px;
  font-size: 14px;
  color: #999;
  display: flex;
  align-items: center;
  justify-content: center;
}

.spacer {
  width: 30px;
}
