// - - - - - - - - - - - - - - - - - -

// Profile

// - - - - - - - - - - - - - - - - - -

body {
	.hero {
		text-align: center;
		.logo {
			width: 200px;
			padding: 0 0 20px 0;
			margin: 0 auto;
			@include mq(tabletp) {
				width: 300px;
			}
		}
	}
	video {
		width: 100%;
		height: auto;
	}
}

.hero.contact {
	height: 150px;
	margin-top: 40px;
	color: white;
	p {
    margin: 0 0 15px 0;
	}
}

.hero.map {
	height: 300px;
}

.hero.contact, .hero.map {
	margin-top: 40px;
}

.hero {
	position: relative;
	margin-top: 0;
	padding: 30px 0 70px;
	background: $hero-background-color;

	@include mq(tabletp) {
		padding: 30px 0 100px;
	}

	// @include mq(laptop) {
	// 	padding: 30px 0 60px;
	// }

	h1 {
		color: $hero-text-color;

		@include mq(tabletp) {
			white-space: pre-line;
		}
	}

	p {
		color: rgba($hero-text-color, 0.8);

		@include mq(tabletp) {
			margin-top: 25px;
		}

		@include mq(laptop) {
			margin-top: 30px;
		}
	}

	.socials {
		margin-top: 15px;

		@include mq(tabletp) {
			margin-top: 25px;
		}

		@include mq(laptop) {
			margin-top: 30px;
		}
	}

	.socials__item__link {
		background: rgba($hero-text-color, 0.8);
		color: $hero-background-color;

		&:hover {
			background: $hero-text-color;
		}
	}
}

.hero__image {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.hero__overlay {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba($hero-background-color, $overlay-opacity);
}
